.avatar-icon i {
    width: 12rem;
    height: 12rem;
    font-size: 9rem !important;
    margin: auto;
    padding: 15px 0 0 0;
    background-color: rgb(231, 231, 231);
}
.avatar-icon img{
    width: 12rem;
    height: 12rem;
    margin: auto;
    margin-bottom: 15px;
}